article {
  /* s */
}

.border-main {
  border: 1px solid white;
}
.main_holder {
  padding: 40px;
  margin: 20px 15px;
  border-radius: 0px;
  position: relative;
}

.card {
}

.bookmark_icon {
  width: 3rem;
  position: absolute;
  top: 0px;
  left: 0spx;
}

.show {
  border-radius: 50%;
  padding: 15px 30px;
  position: absolute;
  bottom: 12px;
}
.answer_holder {
  list-style: none;
  margin: 20px 0;
}
.answer {
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--borderline);
}
