article {
  /* s */
}

.border-main {
  border: 1px solid white;
}
.main_holder {
  padding: 40px;
  margin: 20px 15px;
  border-radius: 0px;
  /* position: relative; */
}

.card {
}

.bookmark_icon {
  width: 3rem;
  position: absolute;
  top: 85px;
  left: 15px;
}
